<h1>Create a New Blog Post</h1>
<%= form_with model: @travel, local: true do |form|%>
<%=form.label :title %>
<%= form.text_field :title %>
<br>
<br>
<%=form.label :content %>
<%=form.text_area :content, size: "70x5"%>
<br>
<br>
<%= form.submit 'Add Post', data:{confirm:'Please make sure the title has more than 10 characters and both of title/content can not be empty.'}%>
<%end%>
<br>
<br>
<%=link_to 'Back Home', travels_path%>
